<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Workshop Final</title>

  <link rel="icon" href="./favicon.png">
  <link rel="stylesheet" href="./css/styles.css">


</head>

<body>

  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-warning">
      <a class="navbar-brand text-warning" href="https://www.starwars.com/" target='_blank'>
        <!-- <img src="./img/light-saber.png" alt="Star Wars Official Website" width="30" height="30"> -->
        <img src="./img/light-saber-green.svg" alt="Star Wars Official Website" width="30" height="30">
        Star Wars
      </a>

      <img class="navbar-toggler" data-toggle="collapse" data-target="#swapiNavbar"
      aria-controls="swapiNavbar" aria-expanded="false" aria-label="Toggle navigation" src="./img/light-saber-red.svg" alt="Sablelight Red">
      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#swapiNavbar"
        aria-controls="swapiNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <img class="navbar-toggler" data-toggle="collapse" data-target="#swapiNavbar"
        aria-controls="swapiNavbar" aria-expanded="false" aria-label="Toggle navigation" src="./img/light-saber-red.svg" alt="Sablelight Red">
        <span class="navbar-toggler-icon"></span>
      </button> -->

      <div class="collapse navbar-collapse text-center" id="swapiNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#" id="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#/people" id="people">Personajes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#/local-storage" id="localStorage">Guardado</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#/contact" id="contact">Contacto</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <main id="root">
  </main>

  <script src="./js/index.js"></script>
</body>

</html>