* {
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    background-color: #FDB900;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px 1fr;
    grid-template-areas: 
    "title title"
    "listOne listTwo";
}

h1 {
    text-align: center;
    grid-area: title;
    grid-column: 1 / 3;
}

#listOne {
    grid-area: listOne;
    grid-column: 1 / 2;
}

#listTwo {
    grid-area: listTwo;
    grid-column: 2 / 3;
}

#listOne, #listTwo {
    padding: 1em;
}

ul {
    list-style-type: none;
    margin: 0;
}

#listOne, #listTwo  li {
    font-size: 1.5em;
    margin-left: 20px;
    margin-top: 10px;
}

#list-group {
    width: 50%;
    margin: 0 auto;
}

.list-group-item {
    text-align: center;
}
