*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Starwars";
}

@font-face {
  font-family: Starwars;
  src: local("Starwars"), url(../fonts/Starjedi.ttf);
  font-weight: bold;
}

#root {
  margin-top: 5rem;
  color: white;
  letter-spacing: 3px;
}

body {
  width: 100%;
  height: 100vh;
  background-image: url(../img/starWarsVertical.jpg);
  background-position: 50% 25%;
  background-size: cover;
}

