<div class="container">

  <div class="row">
    <div class="col text-center">
      <h2>Contacto</h2>
    </div>
  </div>

  <form>
    <div class="row my-2">
      <div class="col-6 offset-3">
        <input type="text" id="inputName" class="form-control" placeholder="Nombre">
        <p id="nameFeedback" class="my-1"></p>
      </div>
    </div>
    <div class="row my-2">
      <div class="col-6 offset-3">
        <input type="text" id="inputEmail" class="form-control" placeholder="Email">
        <p id="emailFeedback" class="my-1"></p>
      </div>
    </div>
    <div class="row my-2">
      <div class="col-6 offset-3">
        <textarea class="form-control" name="inputComment" id="inputComment" cols="30" rows="5"
          placeholder="Por favor, ingrese un comentario"></textarea>
      </div>
    </div>
    <div class="row my-2">
      <div class="col-6 offset-3">
        <button id="button" class="btn btn-block btn-dark" disabled >Enviar</button>
      </div>
    </div>
  </form>

</div>